.newsModal{
    display: flex;
    position: absolute; 
    top: 70px;
    left: 780px;
    width: 250px; 
    height: 440px; 
    z-index: 1000; 
    background-color: #000; 
}
.headingContainer{
    
}
.positional{
    display: flex;
    flex-direction: column;
    margin-left: -35px;
}
.newsHeading{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    margin-left: 55px;
}
.newsContent{

}
.newsLinks{
    
}
.links{
    font-size: 15px;
    color: #b6b6b1;
    font-weight: 400;

}