.moreTopicsContainer{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.categoryPictures div{
    width: 100%;

}
 
.topicsHeading{
    font-size: 40px;
    letter-spacing: 0.8px;
    display: flex;
}
.categoryPictures{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.categoryTopicsImage{
    width: 100%;
    height: 370px;
    position: relative;
    object-fit: cover;
    object-position: center;
}
/* div below */
.textSide{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    position: relative;
    top: -85px;
   left: 25px;
}
.categoryName{
    color: #fff;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: 0.4px;
}
.arrowTopics{
    margin-top:5px;
    color: #f64137;
    border-radius: 50%;
    font-size: 30px;
    margin-left: 0;
}

/* media */
@media(max-width: 768px){
    .moreTopicsContainer{
        display: flex;
        flex-direction: column;
    }
    .categoryPictures{
        display: flex;
        flex-direction: column;
    }
    .categoryTopicsImage{
        width: 500px;
        height: 600px;
    }
}