.slider{
    max-width: 100%; 
    margin: 0 auto; 
    overflow: hidden;
}
.image-container{
    width: 100%;
    height: 450px;
    z-index: -1;
}


.single-slider-img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}
/*  */
.dots{
    color: #000;
    z-index: -1;
}

.slick-list{
    overflow: visible;
}


.first-slider-heading{
    position: relative;
    top: -550px;
    left: 40px;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.desc-img{
    position: relative;
    top: -550px;
    left: 40px;
    color: #fff;
    font-size: small;
    font-weight: 300;
}
.learn-more{
    position: relative;
    top: -530px;
    left: 40px;
    background-color: #d83933;
    border: none;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}
.learn-more:hover{
    background-color: #f02f29;
}

/* small images */
.small-images{
    display: flex;
    gap: 20px;  
}

.small-img{ 
    border-radius: 50%;
    position: relative;
    top: -400px;
    right: -2050px;
    width: 70px;
    height: 60px;
    cursor: pointer;
    border: 1px solid black;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.small-img:active{
    border: 4px solid rgb(67, 67, 199);
}

/*  */
.smallerCarouselLinks{
    position: relative;
    top: -500px;
    left: 40px;
}
.line{
    width: 310px;
    background-color: white;
    height: 1px;
}
.artemis{
    color: #fff;
}
.desc-artemis{
    color: #fff;
    display: flex;
    gap: 3px;
    align-items: center;
}

@media (max-width: 768px) {
    
}