.smallArticlesContainer{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.smallArticleImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
 
/* INFO */
.articleInfo{
    display: flex;
    flex-direction: column;
    letter-spacing: 0.8px;
}
.read{
    margin-top: 5px;
    font-size: x-small;
    color: #010616;
}
.smallArticleHeading{
    margin-top: -10px;
    color: #010616;
}
.category{
    margin-top: -15px;
    font-size: small;
    color: #b1937c;
    color: #010616;
}

/* media */
@media(max-width: 768px) {
    .smallArticlesContainer{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .smallArticleImg{
        width: 500px;
        height: 200px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }
    .articleInfo{
        margin-top: -10px;
    }
    .smaller{
        display: flex;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
    }
}