.dayContainer{
    margin-top: -330px;
    margin-left: 3rem; 
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    
} 
.today{
    font-weight: 300;
    letter-spacing: 0.8px;
}
.textDay{
    width: 700px;
}
.topHeadingDay{
    font-size: 45px;
    margin-top: -10px;
    letter-spacing: 0.4px;
}
.smallDescription{
    font-weight: 500;
    letter-spacing: 0.4px;
}
.smallAuthorText{
    width: 600px;
    font-size: larger;
    font-weight: 300;
    letter-spacing: 0.8px;
}
.more{
    width: 200px;
    height: 40px;
    border: none;
    background-color: #f64137;
    color: #fff;
    font-size: larger;
    font-weight: 700;
}
.more:hover{
    background-color: #d22017;
    cursor: pointer;
}
.imageOfDay{
    max-width: 600px;
    width: 600px;
    height: 550px;
    object-fit: cover;
}
.smaller{
    display: flex;
    flex-direction: column;
}
/* media */
@media (max-width: 768px) {
    .dayContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px; /* Adjust gap as needed */
    }

    .today{
        order: 1;
    }
    .topHeadingDay{
        order: 2;
    } 
    .textDay {
        order: 2;
    }
    .dayImage{
        order: 2;
    }
    .imageOfDay{
        height: 250px;
        width: 350px;
        object-fit: cover;
    }
}